//reescribir variables bootstrap
$rojo: #f34f51;
$verde: #0098ae;
$oscuro: #212121;

//asignar paleta de colores a bs
$primary: $rojo;
$secondary: $verde;
$dark: $oscuro;

//tipografia
$display-font-weight: 900;
$headings-font-weight: 700;

//card
$card-border-color: transparent;

//importar bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';